/* background-color: #001f3fcb; */

.url-4 {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* الصور في الشبكة العادية */
.photo-wrapper-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}